<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userService" class="jiecao.server.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"/>
	</bean>
	
	<bean id="imageService" class="jiecao.server.service.impl.ImageServiceImpl">
		<property name="imageMapper" ref="imageMapper" />
	</bean>
	
	<bean id="programService" class="jiecao.server.service.impl.ProgramServiceImpl">
		<property name="programMapper" ref="programMapper" />
	</bean>
</beans>
