<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userService" class="jiecao.server.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"/>
	</bean>
	
	<bean id="liveImageService" class="jiecao.server.service.impl.LiveImageServiceImpl">
		<property name="liveImageMapper" ref="liveImageMapper" />
	</bean>
</beans>
