<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jiecao.server.mapper.ImageMapper">

	<cache />
	
	<select id="getImageByItemId" parameterType="int" resultType="jiecao.server.domain.Image">
		select * from image where image_iid = #{image_iid}
	</select>
	
</mapper>