<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jiecao.server.mapper.LiveImageMapper">

	<cache />
	
	<select id="getNewestLiveImage" resultType="jiecao.server.domain.LiveImage">
		SELECT * FROM live_image where image_timestamp = 
			(SELECT MAX(image_timestamp) from live_image)
	</select>
	
</mapper>