<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jiecao.server.mapper.UserMapper">

	<cache />
	
	<select id="getUserBySnsIdAndType" resultType="jiecao.server.domain.User">
		SELECT * FROM user WHERE sns_id = #{sns_id} AND sns_type = #{sns_type}
	</select>
	
	<insert id="insertUser" parameterType="jiecao.server.domain.User" 
		useGeneratedKeys="true" keyProperty="uid">
		INSERT INTO user (sid,sns_id,nickname,description,profile_image_url,gender,
		sns_type) values (#{sid},#{sns_id},#{nickname}, #{description},#{profile_image_url},
		#{gender},#{sns_type})
	</insert>
	
	<update id="updateUserSid" parameterType="jiecao.server.domain.User">
		update user set	sid = #{0} where uid = #{1}
	</update>
	
	<select id="getUserBySid" parameterType="String" resultType="jiecao.server.domain.User">
		SELECT * FROM user WHERE sid = #{sid}
	</select>
	
	<select id="getUserByUid" parameterType="int" resultType="jiecao.server.domain.User">
		SELECT * FROM user WHERE uid = #{uid}
	</select>
	
	<update id="updateUserRedCount" parameterType="int">
		update user set
		  red_count = red_count + #{1}
		where 
		  uid = #{0}
	</update>
	
	<update id="updateUserBlueCount" parameterType="int">
		update user set
		  blue_count = blue_count + #{1}
		where 
		  uid = #{0}
	</update>
	
	<select id="getHostInfo" parameterType="int" resultMap="detailedHostResultMap">
		select
		  h.host_id,
		  h.host_name,
		  h.host_description,
		  h.host_head_url,
	   	  i.item_id,
	   	  i.item_listener_count,
	   	  i.item_red_count,
	   	  i.item_blue_count,
	   	  i.item_date,
	   	  p.program_name
		from host h
	   	  inner join item i on item_hid = h.host_id
	   	  inner join program p on item_pid = p.program_id
		where h.host_id = #{0}
	</select>
	
	<resultMap type="jiecao.server.domain.Host" id="detailedHostResultMap">
		<id property="host_id" column="host_id"/>
		<result property="host_name" column="host_name"/>
		<result property="host_description" column="host_description"/>
		<result property="host_head_url" column="host_head_url"/>
		<collection property="items" ofType="jiecao.server.domain.Item">
			<id property="item_id" column="item_id"/>
			<result property="item_listener_count" column="item_listener_count"/>
			<result property="item_red_count" column="item_red_count" />
			<result property="item_blue_count" column="item_red_count"/>
			<result property="item_date" column="item_date" />
			<association property="program" javaType="jiecao.server.domain.Program">
				<result property="program_name" column="program_name"/>
			</association>
		</collection>
	</resultMap>
</mapper>